{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webpack</title>
    {% render_bundle 'main' 'css' %}
</head>
<body>
    <p>Hola que hace mada</p>
    <div id="react-app"></div>
    {% render_bundle 'main' 'js' %}
</body>
</html>

